body{
  background-image: url('/public/images/background.png');
  background-repeat: repeat;
  background-size: 20%;
}

/* Page container to set max-width */
.page-container {
  max-width: 1400px;
  margin: 0 auto; /* Center the container */
  padding: 0 20px; /* Optional: Add some padding */
}

.page-details-form {
  background-color: white;
  border:rgba(0, 0, 0, 0.5) 1px solid;
  border-radius: 10px;
  padding:20px;
}

.add-animal-form {
  background-color: white;
  border:rgba(0, 0, 0, 0.5) 1px solid;
  border-radius: 10px;
  padding:20px;
}

table {
  background-color: white;
  border:rgba(0, 0, 0, 0.5) 1px solid;
  border-radius: 10px;
  padding:20px;
}

.logo-container {
  width: 100%; /* Set the width to 100% */
  max-width: 500px; /* Set a maximum width */
  margin: 0 auto; /* Center the logo container */
  display: block; /* Stack the images vertically */
}

.logo-container div {
  display: block; /* Ensure each div is a block element */
  text-align: center; /* Center the images within each div */
}

.logo-container img {
  max-width: 100%; /* Ensure the images do not exceed the container width */
  height: auto; /* Maintain the aspect ratio */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .logo-container {
    max-width: 300px; /* Adjust the maximum width for smaller screens */
  }
}

@media (max-width: 480px) {
  .logo-container {
    max-width: 200px; /* Adjust the maximum width for very small screens */
  }
}

/* Grid layout for pet cards */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1200px; /* Set the maximum width */
  margin: 0 auto; /* Center the grid container */
}

/* Adjust grid layout for medium screens */
@media (max-width: 968px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Adjust grid layout for small screens */
@media (max-width: 880px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

/* Styling for each pet card */
.card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  background: white;
  transition: 0.3s;
  min-width: 350px;
  max-width: 350px;
  font-family: "Sour Gummy", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "width" 100;
  font-size: 20px;
}

.card-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.card-buttons button {
  flex: 1;
}

/* Style adopted pets to be slightly transparent */
.card.adopted a{
  opacity: 1;
  text-decoration: none;
}

/* Image styling */
.card img {
  width: 100%;
  height: 150px;
  object-fit: contain; /* Ensure the full image is displayed without being cut off */
  border-radius: 8px;
}

/* Button styling */
button {
  background-color: #6b123ba9;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

button:hover {
  background-color: #30082a;
}

/* Adoption form styling */
.adoption-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 20px;
  align-items: center;
}

.adoption-form input {
  display: block;
  width: calc(100% - 20px);
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.adoption-form button {
  display: block;
}

.adoption-form label {
  display: block;
  margin-bottom: 10px;
}

.adoption-form input {
  display: block;
  width: calc(100% - 20px);
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.back-button {
  align-self: flex-end;
  margin-top: auto;
  width: 100px; /* Match the width of the input fields */
  margin-bottom: 20px;
}

/* Overlay styling */
.overlay {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 100%;
  color: green;
  text-shadow: rgba(0, 0, 0, 0.7) 2px 2px 2px;
  display: flex;
  flex-direction: column; /* Ensure children are stacked vertically */
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  border-radius: 10px;
  rotate: -15deg;
}

.emoji {
  margin-top: 0px; /* Add some space between the text and the emoji */
  margin-left:150px;
}

/* Description section styling */
.description-section {
  text-align: center;
  background-color: rgb(235, 220, 206); /* Set the background color to peach */
  padding: 20px; /* Optional: Add some padding */
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px; /* Optional: Add rounded corners */
}

.admin-link {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: lightgray;
  text-decoration: none;
}

.admin-link:hover {
  color: gray;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding-top:20px;
}

.description-section {
  padding: 10px;
  /* background-color: #f9f9f9; */
  /* border-bottom: 1px solid #ddd; */
  margin: 0px;
}

.pet-adoption-section {
  margin: 0px;
  padding-left:20px;
}

.admin-link {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: lightgray;
  text-decoration: none;
}

.admin-link:hover {
  color: gray;
}

/* Media query for wider screens */
@media (min-width: 1300px) {
  .main-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .description-section {
    flex: 1;
    border-bottom: none;
    /* border-right: 1px solid #ddd; */
  }

  .pet-adoption-section {
    flex: 2;
  }
}

.animal-profile-container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  flex-direction: column;
}

.animal-profile {
  max-width: 600px;
  width: 100%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Sour Gummy", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "width" 100;
  font-size: 20px;
}

.animal-profile img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.animal-list button:hover {
  background-color: #0056b3;
}

.back-link {
  display: block;
  margin-bottom: 20px;
  color: gray;
  text-decoration: none;
}

.back-link:hover {
  color: gray;
}

.category-list {
  margin-bottom: 20px;
}

.category-list ul {
  list-style-type: none;
  padding: 0;
}

.category-list li {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: grab;
}

.pet-image-container {
  background-color: #f7a5a3; /* Set background color to black */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px; /* Adjust the size as needed */
  height: 350px; /* Adjust the size as needed */
  border-radius: 15%; /* Create a circular shape */
  padding-top: 10px;
  padding-bottom: 10px;
}

.pet-image {
  width: 300px !important; /* Adjust the size as needed */
  height: 300px !important; /* Adjust the size as needed */
  border-radius: 50% !important;
  object-fit: cover !important;
}

.pet-image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Ensure the image maintains its aspect ratio */
}

.pet-name {
  text-align: center;
  margin-top: 5px; /* Adjust the margin as needed */
  font-size: 30px;
  font-weight: bold;
}

.category-section {
  background-color: rgb(244, 245, 186);
  border: 1px solid #ddd;
  border-radius: 10px;
  padding-left: 20px;
  transition: 0.3s;
  font-family: "Sour Gummy", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "width" 100;
  font-size: 20px;
  margin-top:20px;
  color: #000;
}

.categories-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align items vertically */
}